@import url("composants/formulaireConnection.css");
@import url("composants/formulaireInscription.css");
@import url("composants/formulairePlante.css");
@import url("composants/formulaireUtilisateur.css");
@import url("composants/formulaire.css");
@import url("composants/error.css");

@import url("composants/dreamplante.css");
@import url("composants/bouton.css");

@import url("composants/warning.css");

@import url("composants/table-plante.css");
@import url("composants/plante-index.css");

@font-face {
  font-family: "bubble";
  src: url("../fonts/Super\ Joyful.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gras";
  src: url("../fonts/Gildeon.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}
