@import url("composants/formulaireConnection.css");
@import url("composants/formulaireInscription.css");
@import url("composants/dreamplante.css");
@import url("composants/formulaireUtilisateur.css");

@font-face {
  font-family: "bubble";
  src: url("../fonts/Super\ Joyful.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}
